html {
  box-sizing: border-box;
  font-size: 12px;
  background: #dccb7a;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  padding: 0;
  margin: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 1200px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.rounds-setup {
  display: none;
  margin: 10px;
}

.rounds-setup.active {
  display: block;
}

#rounds {
  width: 50px;
}

.player-selection {
  display: none;
}

.player-selection.active {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.all-time-results {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-stage {
  width: 500px;
  height: 300px;
  border-bottom: rgb(109, 57, 57) solid 10px;
  margin: 20px;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

img {
  animation: alternate infinite float 1.5s;
  width: 150px;
}

@keyframes float {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(20px);
  }
}

table,
td {
  border: black 1px solid;
}