/* page level */

html {
  box-sizing: border-box;
  font-size: 16px;
  background: #80bcba;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  padding: 0;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* header */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

h1 {
  font-size: 3rem;
  font-style: italic;
}

h1 span{
  color: darkred;
}

/* main */
.main {
  min-width: 600px;
}

.wrapper,
.weapon-selection.active,
.all-time-results {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* setup */
.match-setup {
  display: none;
}

.match-setup.active {
  display: block;
}

.match-options {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weapon-selection {
  display: none;
}

/* game stage */
.game-stage {
  width: 500px;
  height: 300px;
  border-bottom: rgb(8, 28, 69) solid 20px;
  margin: 20px;
}

.game-assets {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr;
  grid-template-areas: 
    "player computer"
    "player-avatar comp-avatar"
}

.player-score {
  grid-area: player;
}

.computer-score {
  grid-area: computer;
}

#player-avatar {
  grid-area: player-avatar;
}

#computer-avatar {
  grid-area: comp-avatar;
}

#player-avatar,
#computer-avatar {
  animation: alternate infinite float 1.5s;
  width: 125px;
}

@keyframes float {
  from {
    transform: translateY(-20px);
  }

  to {
    transform: translateY(-5px);
  }
}

/* all-time results */
table,
td {
  border: black 1px solid;
}

td {
  min-width: 10px;
  padding: 5px;
}