html {
  box-sizing: border-box;
  font-size: 12px;
  background: #dccb7a;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  padding: 0;
  margin: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 1200px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.setup {
  display: none;
  margin: 10px;
}

.setup.active {
  display: block;
}

#rounds {
  width: 50px;
}

.current-game {
  display: none;
}

.current-game.active {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.all-time-results {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-selection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-stage {
  width: 500px;
  height: 300px;
  border: rgb(109, 57, 57) solid 10px;
  margin: 20px;
}

table,
td {
  border: black 1px solid;
}